{% load static %}

<html>
  <head>
    <title>{% block title %}{% endblock title%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>

    {% if user.is_authenticated %}
      Hi {{ user.username}}
      <a href="{% url 'account_logout' %}">logout</a>
      {% if user.is_superuser %}
      <br>
      <br>
      <h5>You are superuser</h5>
      <br>
      <br>
    {% endif %}
    {% else %}
      <a href="{% url 'account_signup' %}">Sign up</a>
      <a href="{% url 'account_login' %}">Log in</a>
    {% endif %}

    <div class="wrapper">
      {% block content %}
      {% endblock content %}
    </div>

    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>